:root {
  font-family: Inter, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  position: relative;
}

body,
html {
  height: 100%;
  font-family: "Inconsolata", monospace;
}

canvas {
  height: 100%;
  width: 100%;
  outline: none;

  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#painting-desc {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#exit-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

#painting-desc_content {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

#content_image {
  width: 512px;
  height: auto;
}

#content_title {
  margin-bottom: 0px;
}

#content_description {
  text-align: justify;
}

#exit-button {
  cursor: pointer;
  font-size: 24px;
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}
